html,
body {
    height: 100%;
    width: 100%;
    min-width: 1300px;
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai', cursive;
}

td {
    padding: 3px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: url('../../resources/menu-background.png') no-repeat;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fcf71f;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
}

.fighter-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.fighter-info-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    width: 50%;
    min-width: 550px;
    background-color: #450000;
    border: 7px solid #e89805;
    border-radius: 4px;
}

.winner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 40%;
    min-width: 450px;
    background-color: #450000;
    border: 7px solid #e89805;
    border-radius: 4px;
}

#close-window {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.5em;
    color: #e89805;
    cursor: pointer;
}

.fighter-info-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.fighter-info-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.fighter-info-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.fighter-info-image img {
    height: 90%;
}

.fighter-name,
.help-info {
    color: #fcf71f;
    font-size: 1.6em;
}

.param-label {
    color: #fcf71f;
}

#input-health,
#input-defense,
#input-attack {
    min-width: 180px;
    border: 2px solid#e89805;
    outline: none;
}

.btn {
    width: 50%;
    margin: 0 0 0 50%;
    padding: 5px;
    border: none;
    font-family: 'Baloo Bhai', cursive;    
    background: #e89805;
    color: #450000;
    cursor: pointer;
    outline: none;
}

.menu-return {
    width: 20%;
    margin: 10px 0;
    padding: 5px;
    border: none;
    font-family: 'Baloo Bhai', cursive;    
    background: #e89805;
    color: #450000;
    cursor: pointer;
}

.fight-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: 5px solid #fcf71f;
    background: #450000;
}

#fight-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

#first-fighter,
#second-fighter {
    width: 25%;
}

#first-fighter .fighter,
#second-fighter .fighter {
    padding: 0;
    height: auto;
    width: auto;
    border: none;
}

#second-fighter .fighter-image,
.second-fighter-block img {
    transform: scale(-1, 1);
}

#first-fighter .fighter:hover,
#second-fighter .fighter:hover {
    cursor: auto;
}

.vs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#start {
    max-width: 200px;
    max-height: 100px;
    padding: 5px;
    border: none;
    font-family: 'Baloo Bhai', cursive;    
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline: none;
}

#start img {
    height: 90px;
}

.fight {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.first-fighter-block,
.second-fighter-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.fight-fighter-img {
    height: 360px;
    margin-bottom: 100px; 
}

.health-indicator {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: row;
    align-self: fl;    
    width: 80%;
    height: 40px;
    border: 3px solid #e89805;
}

.second-fighter-block .health-indicator {
    flex-direction: row-reverse;
} 

.fighter-health {
    width: 100%;
    height: 100%;
    background: #B80000;
}

.fighter-health-lost {
    width: 0;
    height: 100%;
    background:whitesmoke;
}

.panch-first-efect {
    position: fixed;
    top: 50%;
    right: 50%;
    width: 20%;
}

.panch-second-efect {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
}